.img-flex {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.logo-c {
  width: 234px;
}
.flexes .sm\:min-w-\[600px\] {
  min-width: unset;
}
.logo-la {
  width: 60%;
}
.logo-l {
  width: 70%;
}
.main-banners .animate-move-down-2 {
  margin-top: 12px;
}
.cards2 {
  margin-top: 30px;
}
.lastwd {
  margin-top: 106px;
}
.flexes img {
  width: 200px;
}
.namona2 {
  display: flex;
}
.namona2 .text-16 span {
  line-height: normal;
}
.namona2 img {
  width: 32px;
  margin-top: 4px;
  margin-right: 0px;
}
.namona2 .img5 {
  width: 29px;
}
.namona2 .img6 {
  width: 24px;
}
.img-cona {
  text-align: center;
}
.img-cona img {
  /* width: 500px; */
  margin: auto;
}
.all-imgs img {
  position: static !important;
}
.img1 img {
  width: 285px;
}
.img2 img {
  width: 337px;
}
.img3 img {
  width: 188px;
}
@media (min-width: 1100px) {
  .flexes img {
    width: 280px;
  }
}

@media (max-width: 1100px) {
  /* .flexes img {
    width: 250px;
  } */
  /* .flexes .flex-1 {
    flex: none;
  } */
}
@media (max-width: 768px) {
  .logo-la {
    width: 65%;
  }
  .namona2 .img5 {
    width: 21px;
  }
  .namona2 .img6 {
    width: 21px;
  }
  .namona2 img {
    width: 20px;
  }
  .lastwd {
    margin-top: 44px;
  }
  .manual {
    margin-top: 12rem !important;
  }
  .my-home {
    margin-top: 40px;
  }
  .lastwd .grid {
    width: 100%;
  }
  .lastwd {
    width: 100%;
  }
  .logo-l {
    margin-top: 50px;
    width: 350px;
  }
  .no-padi {
    padding: 0;
  }
  .logo-c {
    width: 43%;
  }
  .txt-banner {
    font-size: 40px;
    line-height: 47px;
  }
  .space-y-36 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 3rem;
  }
  .mt-\[-130px\].flex.flex-col {
    margin-inline: auto;
    max-width: 350px;
  }
  .main-banners {
    margin-top: 10px;
  }
  .main-banners .animate-move-down-2 {
    margin-top: 10px;
    display: block;
  }
}
/* @media (max-width: 640px) {
  .flexes img {
    width: 400px;
  }
  .flexes .sm\:min-w-\[600px\] {
    height: auto;
    min-height: auto;
  }
  .aspect-square {
    aspect-ratio: unset;
  }
  .flexes .max-w-md {
    max-width: 100%;
    width: 100%;
  }
} */
/* @media (max-width: 600px) {
  .socials .gap-5 {
    padding: 0;
  }
  .socials {
    margin-top: 50px !important;
  }
  .lastwd .grid {
    padding: 0;
  }
  .logo-l {
    width: 70%;
  }
  .main-banners {
    max-width: 100%;
    margin-top: 15px;
  }
} */
/* @media (max-width: 550px) {
  .space-y-36 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 2rem;
  }
  .logo-c {
    width: 240px;
  }
  .my-home {
    margin-top: 70px;
  }
  .flexes img {
    width: 85%;
  }
} */
@media (max-width: 640px) {
  .namona2 .img5 {
    width: 21px;
  }
  .namona2 .img6 {
    width: 21px;
  }
  .namona2 img {
    width: 20px;
  }
  .flexes img {
    width: 200px;
  }
}
@media (max-width: 565px) {
  .namona2 .img5 {
    width: 22px;
  }
  .namona2 .img6 {
    width: 21px;
  }
  .namona2 img {
    width: 25px;
  }
}
@media (max-width: 430px) {
  .namona2 .img5 {
    width: 30px;
  }
  .namona2 .img6 {
    width: 28px;
  }
  .namona2 img {
    width: 35px;
  }
  .logo-c {
    width: 120px;
  }
  .main-banners {
    margin-top: 43px;
  }
}
@media (max-width: 480px) {
  .manual {
    margin-top: 10rem !important;
  }
  .lastwd {
    margin-top: 10px;
  }
  .logo-c {
    width: 131px;
  }
  .main-banners {
    margin-top: 32px;
  }
  .flexes img {
    width: 160px;
  }
}
